<div id="homeBrands" class="wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <a href="" title="loremous"><img src="/product_images/uploaded_images/home-brand-1.png" alt="loremous" /></a>
            <a href="" title="isabella"><img src="/product_images/uploaded_images/home-brand-2.png" alt="isabella" /></a>
            <a href="" title="magcor"><img src="/product_images/uploaded_images/home-brand-3.png" alt="magcor" /></a>
            <a href="" title="fermends"><img src="/product_images/uploaded_images/home-brand-4.png" alt="fermends" /></a>
            <a href="" title="conseqaur"><img src="/product_images/uploaded_images/home-brand-5.png" alt="conseqaur" /></a>
            <a href="" title="loremous"><img src="/product_images/uploaded_images/home-brand-1.png" alt="loremous" /></a>
            <a href="" title="isabella"><img src="/product_images/uploaded_images/home-brand-2.png" alt="isabella" /></a>
            <a href="" title="magcor"><img src="/product_images/uploaded_images/home-brand-3.png" alt="magcor" /></a>
            <a href="" title="fermends"><img src="/product_images/uploaded_images/home-brand-4.png" alt="fermends" /></a>
            <a href="" title="conseqaur"><img src="/product_images/uploaded_images/home-brand-5.png" alt="conseqaur" /></a>
        </div>
    </div>
</div>
