<div id="homeSpotlight" class="module-wrapper">
    <div class="container">

        <h2 class="module-heading"><span>#Featured On CHROME</span></h2>

        <div class="row">

            <div class="spotlight-item col-xs-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="spot-image">
                    <a href="https://www.shopchrome.com/aiwa/"><img src="/product_images/uploaded_images/home-spotlight-1.jpg" alt="Lorem Et Dorus" /></a>
                </div>
                <h4 class="spot-title">Aiwa Audio</h4>
                <p class="spot-desc"> Shop the top rated headphone and boombox in the nation! Free Aiwa branded t-shirt with every order. </p>
                <a href="https://www.shopchrome.com/aiwa/" class="btn btn-primary shop-now-btn">Shop Now<i class="fa fa-caret-right"></i></a>
            </div>

            <div class="spotlight-item col-xs-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="spot-image">
                    <a href="https://www.shopchrome.com/krewe"><img src="/product_images/uploaded_images/home-spotlight-2.jpg" alt="Milancelos A Lanos" /></a>
                </div>
                <h4 class="spot-title">KREWE Eyewear</h4>
                <p class="spot-desc">We've brought styles worn by Meghan Markle, Beyonce, Leon Bridges, Serena Williams, Blake Lively, and more right to your fingertips! Using the spirit and soul of New Orleans as a source of inspiration KREWE frames are purposefully designed to embrace individuality, allowing you to “do you.”</p>
                <a href="https://www.shopchrome.com/krewe" class="btn btn-primary shop-now-btn">Shop Now<i class="fa fa-caret-right"></i></a>
            </div>

            <div class="spotlight-item col-xs-4 wow fadeInUp" data-wow-delay="500ms">
                <div class="spot-image">
                    <a href="https://www.shopchrome.com/gift-guide/unique-finds/"><img src="/product_images/uploaded_images/home-spotlight-3.jpg" alt="Comos De Milano" /></a>
                </div>
                <h4 class="spot-title">Unique Gifts</h4>
                <p class="spot-desc"> Our favorite assortment of handpicked gifts for everyone. Home and kitchenware, exquisite candles, novelties for the tots, specialty books, and even pet gifts- no one is left out at Chrome. Shop him and her or by price range. </p>
                <a href="https://www.shopchrome.com/gift-guide/unique-gifts/" class="btn btn-primary shop-now-btn">Shop Now<i class="fa fa-caret-right"></i></a>
            </div>

        </div>
    </div>
</div>
