<div id="fullWidthBlock" class="wow fadeInUp" data-wow-delay="100ms">

    <img src="/product_images/uploaded_images/home-full-width-block-bg.jpg" alt="Shop The Collection"/>

    <div class="container">
        <div class="custom-content">
            <div class="inner">
                <h2>Milancelos</h2>
                <p class="custom-desc">Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt risus ac, consequat velit. Quisquemos sodales suscipit tortor ditaemcos condimentum lacus meleifend menean viverra auctor blanditos comodous.</p>
                <a href="#" class="btn btn-primary btn-lg">Shop The Collection<i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>
</div>
