<div id="InstagramGallery" class="wow fadeIn">
    <div class="container">
        <div class="widget-title">
            <h3>Chrometx On Instagram</h3>
            <p class="instagram-desc"><svg><use xlink:href="#icon-instagram"></use></svg><span>Follow us to stay up to date on all our latest fashion and finds!</span></p>
        </div>

        <div id="instafeed" class="owl-carousel" data-userid="17645844" data-accesstoken="17645844.1677ed0.1ef3beb486664d17848a98b30afc5934"></div>

        <a href="https://www.instagram.com/chrometx/" target="_blank" class="btn btn-primary insta-btn"><span>View Gallery</span><i class="fa fa-caret-right"></i></a>
    </div>
</div>
