<div id="home-top-banners">
    <div class="container">
        <div class="row">

            <div class="col-xs-4 banner-item wow fadeInUp" data-wow-delay="100ms">
                <a href="">
                    <img src="/product_images/uploaded_images/home-top-banner-1.jpg" alt="Editor's Pick" />
                    <h4><span>Editor's Pick</span></h4>
                </a>
            </div>

            <div class="col-xs-4 banner-item wow fadeInUp" data-wow-delay="300ms">
                <a href="">
                    <img src="/product_images/uploaded_images/home-top-banner-2.jpg" alt="Shoes" />
                    <h4 class="text-black"><span>Shoes</span></h4>
                </a>
            </div>

            <div class="col-xs-4 banner-item wow fadeInUp" data-wow-delay="500ms">
                <a href="">
                    <img src="/product_images/uploaded_images/home-top-banner-3.jpg" alt="Accessories" />
                    <h4><span>Accessories</span></h4>
                </a>
            </div>

        </div>
    </div>
</div>
